<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewprt" content="width=device-width, initial-scale=1.0">
    <title> Diagnose Alzheimer Application</title>
    <style>
  
      body {
        text-align: center;
        font-family: Calibri, sans-serif;
      }
      h1 {
        font-size: 24px;
      }
    </style>
</head>
<body>

  <div class= 'c'>
    <p><h1>Diagnosing Alzheimer's</h1></p>
    <br>
    <br>
  </div>

  <br>
  <br>
      </form>
    <h1>Please upload your Brain MRI iamge.</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button type="submit" name="submit">Submit</button>
  </form>

<form>
  <h1>Result</h1>
    <h1> {{Suggestion}}</h1>
  </form>

</body>
</html>
